@font-face {
    font-family: 'Noto Sans TC';
    src: local('Noto Sans TC'), local('Noto-Sans-TC'), url('./font/Noto_Sans_TC/NotoSansTC-Thin.otf') format('opentype');
    font-weight: 100;
    font-display: fallback;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: local('Noto Sans TC'), local('Noto-Sans-TC'), url('./font/Noto_Sans_TC/NotoSansTC-Light.otf') format('opentype');
    font-weight: 300;
    font-display: fallback;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: local('Noto Sans TC'), local('Noto-Sans-TC'), url('./font/Noto_Sans_TC/NotoSansTC-Regular.otf') format('opentype');
    font-weight: 400;
    font-display: fallback;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: local('Noto Sans TC'), local('Noto-Sans-TC'), url('./font/Noto_Sans_TC/NotoSansTC-Medium.otf') format('opentype');
    font-weight: 500;
    font-display: fallback;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: local('Noto Sans TC'), local('Noto-Sans-TC'), url('./font/Noto_Sans_TC/NotoSansTC-Bold.otf') format('opentype');
    font-weight: 700;
    font-display: fallback;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: local('Noto Sans TC'), local('Noto-Sans-TC'), url('./font/Noto_Sans_TC/NotoSansTC-Black.otf') format('opentype');
    font-weight: 900;
    font-display: fallback;
    font-style: normal;
}

@font-face {
    font-family: 'Nova Mono';
    src: local('Nova Mono'), local('Nova-Mono'), url('./font/Nova_Mono/NovaMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: fallback;
    font-style: normal;
}
